.mypage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* 수직 정렬 추가 */
    min-height: 100vh;
    background-color: #c02231;
    width: 100%;
    position: relative; /* Common과의 레이어 충돌 방지 */
  }
  
  .container {
    width: 50%;
    min-height: 80vh;
    margin: 3rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* MyPage가 Common보다 뒤에 위치 */
  }
  

.mypage-menubar{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom:0.1rem solid #9098A3;
}

.menu{
    aspect-ratio: 1.5/1;
    margin: 1%;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.5rem;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 5px 5px gray;
    }
}
.menu-line{
    border:0.1rem solid #9098A3;
}
