@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "YeonSung";
  src: url("/fonts/YeonSung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Petemoss";
  src: url("/fonts/Petemoss-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.root{
  background-color: #C02231;
}
